*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: #F9EEEC;
    font-family:sans-serif;
    height:100vh;
}



/* Header index*/

.titulo{
display: none;  
}


/* Main index*/
/* imagen principal */


.contenedor{
    max-width: 1200px;
    height: 400px;
    margin: 2rem;
    background-image: url(../img/unas.jpg);
}

.winda{
    font-size: 2em;
    margin: 1rem;
    padding-top: 200px;
    color:#545454;
    text-align: center;
    font-weight: bold;
}
.cuidado{
    font-size: 1em;
    margin:1rem;
    color: #545454;
    background-color: #F9EEEC;
    text-align: center;
}
.reserva{
    color: #545454;
    background-color: #F9EEEC;
    font-size: 1em;
}

@media (min-width:768px) and (max-width:1300px){
    .unas-menu{
        width: 70%;
        max-width: 1200px;
        height: auto;
        margin:auto;
        padding:10px;
    }
    .winda{
        font-size: 2em;
        margin: 1rem;
        padding: 1rem;
        color:#545454;
        text-align: center;
        font-weight: bold;
    }
    .cuidado{
        font-size: 1em;
        margin:1rem;
        color: #545454;
        background-color: #F9EEEC;
        text-align: center;
    }
    .reserva{
        color: #545454;
        background-color: #F9EEEC;
        font-size: 1em;
    }    
}

/* Sobre nosotras */
h2{
   margin:2rem;
   font-size: 1,5em;
    color: #545454;
    background-color:#F9EEEC;
}

.nosotras{
    color: #545454;
    background-color: #F9EEEC;
    font-size: 1em;
    margin:1rem;
    text-align: center;
}

/* Footer index*/
.contacto-titulo{
    padding:1rem;
color: #545454;
text-align: left;
}

footer div ul li{
    margin:1,5rem;
    padding:1,5rem;
    font-size: 1em;
    color: #545454;
    list-style: none;
}

@media (min-width:768px) and (orientation: landscape){
   footer div{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
   }
   .contacto-titulo{
    text-align:center;
   }
   }

/* Galeria */
.titulo-galeria{
color:#545454;
text-align: center;
}

.galeria{
    padding:2rem;

}

.galeria img{
    width: 95%;
    height: 80%;
    margin: 1rem;
    object-fit: cover;
}

@media (min-width: 768px) and (orientation:landscape){
    .galeria{
        display:grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3,70vh);
    }
}

/* Productos */
.productos{
    color:#545454;
    text-align: center;
}

.productos__estilo{
    list-style: none;
    font-weight: bold;
    text-decoration: underline;
}

.productos__fotos{
   text-align: center;
}

@media (min-width:768px) and (orientation:landscape){
    .productos__estilo{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
}

/* Poductos unas */
.unas-productos-titulo{
    text-align: center;
}

.unas-venta__img{
    width: 95%;
    height: 80%;
    margin: 1rem;
    object-fit: cover;
}

@media (min-width: 768px) and (orientation:landscape){
    .unas-venta{
        display:grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2,1fr);
    }
}

/* Turnos */
.profesionales__nombre{
    color: #545454;
    padding:1rem;
    text-align: left;
    font-size: 1.2rem;
}

.profesionales__fotos{
    width: 50%;
    height: 50%;
    margin:auto;
    padding-bottom: 1rem;
}

@media (min-width: 768px) and (orientation:landscape){
    .profesionales{
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2,1fr);
    }
}