$color-principal: #545454;
$color-secundario: #F9EEEC;
$font: "Arima", serif;

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: $color-secundario;
}

a{
    text-decoration: none;
    color:$color-principal;
    &:hover{
        color:#F40196;
    }
}

.titulo-principal{
    display: none;  
    }

.nav-item{
    font-family:$font;
}

.winda-logo{
max-width:130px;
}

button{
    color:$color-principal;
    background-color: $color-secundario;
    font-family:$font;
    border-radius: 10px;
    padding:15px 30px;
    margin:4px 2px;
    font-weight: 700;
    &:hover{
    color:#F40196;
    }
}

form{
    font-family:$font;
} 

@mixin titulos{
    font-family: $font;
    font-weight: 700;
    color: $color-principal;
    text-align: center;
    padding:2rem;
}
