.contacto, .redes{
 padding:.3rem;
color: $color-principal;
text-align: center;
font-family: $font;
font-size: 1rem;

&__list{
    padding: .2rem;
    font-size: .7rem;
    color: $color-principal;
    font-family:$font;
    list-style: none;
}
}   

.contenedor-footer{
   margin-top: 4rem;
    border:3px solid $color-principal;
    display:flex;
    justify-content: space-evenly;

    &__caja{
    margin:1rem;
    text-align: center;
    
}
}

.redes__iconos{
    padding: .6rem;
}

.contacto__iconos{
    padding-right: .5rem;
}

@media (min-width:768px) and (orientation:landscape){
    .contacto__list{
        display:inline;
        font-size: .9rem;
        padding:1.3rem;
    }
}