.productos{
    @include titulos;

    &__estilo{
        list-style: none;
        font-weight: 700;
        text-decoration: underline;
        text-align: center;    
    }
    &__fotos img{
        border-radius: 3rem;
        cursor:pointer;
        margin-bottom: 2rem;
        &:hover{
            transform:scale(1.2);
            transition:2s;
        }
    }
}

@media (min-width:768px) and (orientation:landscape){
    .productos__estilo{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
}