.turnos{
    @include titulos;
}

.profesionales{
    display:grid;
    justify-items: center;

    &__nombre{
        font-family: $font;
        color:$color-principal;
        padding:.5rem;
        text-decoration: underline;
        font-size: 1.5rem;
        text-align: center;
    }
    &__fotos{
        width:340px;
        padding:1rem;
        border: 3px solid $color-principal;
        border-radius: 2.5rem;
        margin:1rem;
        display:flex;
    }
    &__btn{
        margin-left: 1.5rem;
        height: 60px;
        font-size: .9rem;
    }
    img{
        height:120px;
        border-radius: .7rem;
    }
}

@media (min-width: 768px) and (orientation:landscape){
    .profesionales{
        display:grid;
        justify-items: center;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2,1fr);
    }
}

.descuento-titulo{
    @include titulos;
    text-decoration:solid underline;
    padding-top: 4rem;
}
