.descuento{
    height:450px;
    background-image: url(/img/descuentow.webp);
    background-repeat: no-repeat;
    background-position: center;
    &__input{
       text-align: center;
       margin:.3rem;
       &-nombre{
        padding-top: 260px;
       }
    }
}

.boton-enviar{
    color:$color-principal;
    background-color: $color-secundario;
}